<body onload="loadData()">
<ul id="list"></ul>
<script>
    function loadData() {
        var locations = [];

        fetch('https://6xkow0evr7.execute-api.us-west-2.amazonaws.com/v1/form-data')
            .then((resp) => resp.json())
            .then(function (data) {
                data.Items.forEach(function (item) {
                    var obj = JSON.parse(item.formData);
                    locations.push(obj.location)
                });

                let dedupedLocations = [...new Set(locations)];
                dedupedLocations.sort();

                dedupedLocations.forEach(function(i) {
                   var ul = document.getElementById("list");
                   var li = document.createElement("li");
                   li.innerHTML = '<li><a href="https://denverpromechanical.com/dates-for-location/?location=' + i + '">' + i + '</a></li>';
                   ul.appendChild(li);
                });
            })
    .catch(function (error) {
                console.log(error);
            });
    }
</script>

</body>