<body onload="populateDates()"><div><h1 id="title"></h1></div>

<div>
    <label for="date">Choose a date:</label>
    <select id="date" name="date" onchange="populateURL()">
        <option value="">--Dates--</option>
    </select>
</div>
<div id="url" class="btn btn-primary"></div>

<script>
    function populateDates() {
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var location = url.searchParams.get("location");

        let dates = [];
        document.getElementById('date').innerHTML = "<option value=\"\">--Dates--</option>";

        fetch('https://6xkow0evr7.execute-api.us-west-2.amazonaws.com/v1/form-data/')
            .then((resp) => resp.json())
            .then(function (data) {
                data.Items.forEach(function (item) {
                    var obj = JSON.parse(item.formData);
                    if (location === obj.location) {
                        let d = new Date(item.created * 1000);
                        d = d.getDate() + ' ' + d.toLocaleString('en-us', {month: "short"}) + ' ' + d.getFullYear();
                        dates.push(d);
                    }
                });
                let uniqueDates = [...new Set(dates)];
                uniqueDates.sort(function (a, b) {
                    return new Date(b) - new Date(a);
                });
                uniqueDates.forEach(function (i) {
                    var option = document.createElement("option");
                    option.text = i;
                    option.value = i;
                    document.getElementById('date').appendChild(option);
                });
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function populateURL() {
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var location = url.searchParams.get("location");

        var date = document.getElementById("date").value;
        var u = "<a href=https://denverpromechanical.com/service-check?"
        u = u + "&location=" + location + "&date=" + encodeURIComponent(date) + ">Go</a>";
        document.getElementById('url').innerHTML = u;
    }
</script>
</body>