<div class="container">
    <div class="panel">

        <table id="myTable">
        </table>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


    <script>
        (function ($) {

            var testDataUrl = "https://hf5do5hmv3.execute-api.us-west-2.amazonaws.com/default/getDynamoData"

            var url_string = window.location.href; //window.location.href
            var url = new URL(url_string);
            var entryId = url.searchParams.get("id");

            window.onload = function () {
                loadData();
            };

            function loadData() {
                $.ajax({
                    type: 'GET',
                    url: testDataUrl,
                    contentType: "text/plain",
                    dataType: 'json',
                    success: function (data) {
                        myJsonData = data;
                        populateDataTable(myJsonData);
                    },
                    error: function (e) {
                        console.log("There was an error with your request...");
                        console.log("error: " + JSON.stringify(e));
                    }
                });
            }

            function appendTable(table, label, text) {
                var row = table.insertRow();
                var cell1 = row.insertCell();
                var cell2 = row.insertCell();
                cell1.innerHTML = label;
                cell2.innerHTML = text;
            }


            // populate the data table with JSON data
            function populateDataTable(data) {
                data.Items.forEach(function (tableItem) {
                    if (tableItem.formId === entryId) {
                        var obj = JSON.parse(tableItem.formData);
                        const d = new Date(tableItem.created * 1000).toDateString();
                        const table = document.getElementById("myTable");

                        appendTable(table, 'Date', d);
                        appendTable(table, 'Location', obj.location);
                        appendTable(table, 'Equipment #', obj.equipment);
                        appendTable(table, 'Serial #', obj.serial);
                        appendTable(table, 'Model #', obj.model);
                        appendTable(table, 'Filter Size', obj.filtersize);
                        appendTable(table, 'Manufacturer', obj.manufacturer);
                        appendTable(table, 'Manufacturer Date', obj.manufacturerdate);
                        appendTable(table, 'Refrigerant Type', obj.refrigerant);
                        appendTable(table, 'Belt Size', obj.beltsize);
                        appendTable(table, 'T-Stat', obj.tstat);
                        appendTable(table, 'Voltage', obj.voltage);
                        appendTable(table, 'Capacitor', obj.capacitor);
                        appendTable(table, 'Contactor', obj.contactor);
                        appendTable(table, 'Refrigerant Pressures', obj.refrigerantpressures);
                        appendTable(table, 'Heat Exchanger', obj.heatexchanger);
                        appendTable(table, 'Burners', obj.burners);
                        appendTable(table, 'Blower Motor', obj.blowermotor);
                        appendTable(table, 'Blower Wheel', obj.blowerwheel);
                        appendTable(table, 'Compressor', obj.compressor);
                        appendTable(table, 'Evap Coil', obj.evapcoil);
                        appendTable(table, 'Condenser Coil', obj.condensercoil);
                        appendTable(table, 'Blower Motor Amp', obj.blowermotoramp);
                        appendTable(table, 'Condenser Fan Motor', obj.condenserfanmotor);
                        appendTable(table, 'IDM Amp', obj.idmamp);
                        appendTable(table, 'Compressor Amp', obj.compressoramp);
                        appendTable(table, 'Overall Condition', obj.overallcondition);
                        appendTable(table, 'Comments/Recommendations', obj.comments);
                    }
                })
            }
        })(jQuery);
    </script>
</div>