<body style="text-align:center;" onload="GFG_FUN()">

<a href="#" style="font-size: 200%;" onclick="download_table_as_csv('table');">Download as CSV</a>

<table id="table" align="center" border="1px"></table>

<script>

    function GFG_FUN() {
        var list = [];

        let url_string = window.location.href;
        let url = new URL(url_string);
        let location = url.searchParams.get("location");
        let date = url.searchParams.get("date");

        fetch('https://6xkow0evr7.execute-api.us-west-2.amazonaws.com/v1/form-data/')
            .then((resp) => resp.json())
            .then(function (data) {
                data.Items.forEach(function (item) {
                    var obj = JSON.parse(item.formData);
                    let d = new Date(item.created * 1000);
                    d = d.getDate() + ' ' + d.toLocaleString('en-us', {month: "short"}) + ' ' + d.getFullYear();

                    if (location === obj.location || location == null) {
                        if (d === date) {
                            delete obj[""];
                            obj = Object.assign({"date": d}, obj)

                            obj = Object.assign({"edit": '<a href="https://denverpromechanical.com/edit/?id=' + item.formId + '" target="_blank">Edit</a>'}, obj)
                            list.push(obj);
                        }
                    }
                });

                var cols = [];

                for (var i = 0; i < list.length; i++) {
                    for (var k in list[i]) {
                        if (cols.indexOf(k) === -1) {

                            // Push all keys to the array
                            cols.push(k);
                        }
                    }
                }

                let headerMap = new Map()
                headerMap.set("filtersize", "filter size")
                headerMap.set("manufacturerdate", "manufacturer date")
                headerMap.set("beltsize", "belt size")
                headerMap.set("blowermotoramp", "blower motor amp")
                headerMap.set("condenserfanmotor", "condenser fan motor")
                headerMap.set("idmamp", "idm amp")
                headerMap.set("compressoramp", "compressor amp")
                headerMap.set("overallcondition", "overall condition")
                headerMap.set("refrigerantpressures", "refrigerant pressures")
                headerMap.set("heatexchanger", "heat exchanger")
                headerMap.set("blowermotor", "blower motor")
                headerMap.set("blowerwheel", "blower wheel")
                headerMap.set("evapcoil", "evap coil")
                headerMap.set("condensercoil", "condenser coil")

                // Create a table element
                var table = document.createElement("table");

                // Create table row tr element of a table
                var tr = table.insertRow(-1);

                for (var i = 0; i < cols.length; i++) {

                    // Create the table header th element
                    var theader = document.createElement("th");
                    theader.setAttribute("class", "rotate")
                    var headerData = cols[i]
                    var h = headerMap.get(headerData)
                    if (h !== undefined) {
                        headerData = h
                    }
                    theader.innerHTML = headerData;

                    // Append columnName to the table row
                    tr.appendChild(theader);
                }

                // Adding the data to the table
                for (var i = 0; i < list.length; i++) {

                    // Create a new row
                    trow = table.insertRow(-1);
                    for (var j = 0; j < cols.length; j++) {
                        var cell = trow.insertCell(-1);

                        // Inserting the cell at particular place
                        cell.innerHTML = list[i][cols[j]];
                    }
                }

                // Add the newly created table containing json data
                var el = document.getElementById("table");
                el.innerHTML = "";
                el.appendChild(table);

            })
            .catch(function (error) {
                console.log(error);
            });

    }

    // Quick and simple export target #table_id into a csv
    function download_table_as_csv(table_id, separator = ',') {
        // Select rows from table_id
        var rows = document.querySelectorAll('table#' + table_id + ' tr');
        // Construct csv
        var csv = [];
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll('td, th');
            for (var j = 0; j < cols.length; j++) {
                // Clean innertext to remove multiple spaces and jumpline (break csv)
                var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                data = data.replace(/"/g, '""');
                // Push escaped string
                row.push('"' + data + '"');
            }
            csv.push(row.join(separator));
        }
        var csv_string = csv.join('\n');
        // Download it
        var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
        var link = document.createElement('a');
        link.style.display = 'none';
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

</script>
</body>


<style>
    .wrapper {
        background: white;
        overflow: scroll;
    }

    th {
        text-wrap: normal;
    }

    .table {
        display: table;
        border-spacing: 2px;
    }
    .row {
        display: table-row;
    }
    .row > div {
        display: table-cell;
        border: solid 1px #ccc;
        padding: 2px;
    }
</style>