<div><h1>Choose a Location:</h1>
<ul>
    <li><a href="https://denverpromechanical.com/dates-for-location/?location=amazon_den2">Den 2</a></li>
    <li><a href="https://denverpromechanical.com/dates-for-location/?location=amazon_den5">Den 5</a></li>
    <li><a href="https://denverpromechanical.com/dates-for-location/?location=amazon_den7">Den 7</a></li>
</ul>
</div>