<div><h1 id="title"></h1></div>
<div class="container">
    <div class="panel">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th style="display:none">timestamp</th>
                <th>Equipment #</th>
                <th>Overall Condition</th>
                <th>Service Check Details</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css"/>

<script>
    (function ($) {
        var table = $("#example").DataTable({
            order: [[0, "desc"]],
            columnDefs: [
                {
                    targets: [0],
                    visible: false,
                },
            ],
            responsive: true,
            paging: false,
            searching: false
        });

        var testDataUrl = "https://hf5do5hmv3.execute-api.us-west-2.amazonaws.com/default/getDynamoData"

        window.onload = function () {
            loadData();
        };

        function loadData() {
            $.ajax({
                type: 'GET',
                url: testDataUrl,
                contentType: "text/plain",
                dataType: 'json',
                success: function (data) {
                    myJsonData = data;
                    populateDataTable(myJsonData);
                },
                error: function (e) {
                    console.log("There was an error with your request...");
                    console.log("error: " + JSON.stringify(e));
                }
            });
        }


        // populate the data table with JSON data
        function populateDataTable(data) {
            let url_string = window.location.href;
            let url = new URL(url_string);
            let location = url.searchParams.get("location");
            let date = url.searchParams.get("date");
            const prettyLocation = location.split("_");

            for (let i = 0; i < prettyLocation.length; i++) {
                prettyLocation[i] = prettyLocation[i][0].toUpperCase() + prettyLocation[i].substr(1);
            }

            document.getElementById("title").innerHTML = "Service Check for Location: " + prettyLocation.join(" ") + ", Date: " + date +
                `<p><a href="https://denverpromechanical.com/full-service-check/?location=` + location + `&date=` + date + `">View Full Service Check</a></p>`;

            console.log("populating data table...");
            // clear the table before populating it with more data
            $("#example").DataTable().clear();

            data.Items.forEach(function (tableItem) {
                var obj = JSON.parse(tableItem.formData);
                let d = new Date(tableItem.created * 1000);
                d = d.getDate() + ' ' + d.toLocaleString('en-us', {month: "short"}) + ' ' + d.getFullYear();

                if (location === obj.location || location == null) {
                    if (d === date) {
                        $('#example').dataTable().fnAddData(
                            [
                                tableItem.created,
                                obj.equipment,
                                obj.overallcondition,
                                '<a href="https://denverpromechanical.com/detailed-service-check/?id=' + tableItem.formId + '">See More</a>'
                            ]);
                    }
                }
            })
        }
    })(jQuery);
</script>

<style>
    #example {
        font-size: 16px;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
    }
</style>